<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340 App</title>
    <meta name="description" content="Welcome to CSE 340 application">
    <meta name="author" content="Songopa Julius">
    <meta property="og:title" content=" CSE 340 App ">
    <meta property="og:type" content="website">
    <link rel="icon" href="favicon.ico">
    <script src="scripts/main.js" type="module"></script>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>